<div class="detalhe-container">
  <div class="detalhe-card">
    <img [src]="receita?.imagem" alt="Imagem da receita" />

    <div class="conteudo">
      <h1>{{ receita?.nome }}</h1>

      <p><strong>Categoria:</strong> {{ receita?.categoria }}</p>
      <p><strong>Tempo de Preparo:</strong> {{ receita?.tempoPreparo }}</p>

      <h2>Ingredientes</h2>
      <p>{{ receita?.ingredientes }}</p>

      <h2>Modo de Preparo</h2>
      <p>{{ receita?.modoPreparo }}</p>

      <button (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>
