<h2>Receitas</h2>

<div class="pesquisas">
  <label for="filtroCategoria">Filtrar por categoria:</label>
  <select id="filtroCategoria" [(ngModel)]="categoriaSelecionadas">
    <option value="">Todas</option>
    <option value="doce">Doce</option>
    <option value="salgado">Salgado</option>
    <option value="bebida">Bebida</option>
  </select>

  <label for="buscaNome">Buscar por nome:</label>
  <input id="buscaNome" type="text" [(ngModel)]="buscarPorNome" placeholder="Digite o nome da receita" />

</div>


<div *ngFor="let receita of receitas | categoriaFiltro: categoriaSelecionadas | nomeFilter: buscarPorNome">
  <img [src]="receita.imagem" alt="Imagem da receita" width="100">
  <h3>{{ receita.nome }}</h3>
  <p><strong>Categoria:</strong> {{receita.categoria}}</p>
  <p><strong>Tempo:</strong> {{receita.tempoPreparo}}</p>

  <button (click)="verDetalhe(receita.id)">Detalhes</button>
  <button (click)="editar(receita.id)">Editar</button>
  <button (click)="deletar(receita.id)">Excluir</button>
</div>
