<div class="container">
  <h1>Receitas</h1>

  <div class="filtros">
    <input type="text" [(ngModel)]="buscarPorNome" placeholder="Buscar por nome..." />

    <select [(ngModel)]="categoriaSelecionadas">
      <option value="">Todas as categorias</option>
      <option value="doce">Doce</option>
      <option value="salgado">Salgado</option>
      <option value="bebida">Bebida</option>
      <option value="sobremesa">Sobremesa</option>
      <option value="massa">Massa</option>
      <option value="carne">Carne</option>
      <option value="vegano">Vegano</option>
      <option value="fitness">Fitness</option>
      <option value="lanche">Lanche</option>
      <option value="café da manhã">Café da Manhã</option>
    </select>
  </div>

  <div class="cards-container">
    <div *ngFor="let receita of receitas | categoriaFiltro: categoriaSelecionadas | nomeFilter: buscarPorNome" class="card">
      <img [src]="receita.imagem" alt="Imagem da receita" />

      <div class="info">
        <h3>{{ receita.nome }}</h3>
        <p><strong>Categoria:</strong> {{ receita.categoria }}</p>
        <p><strong>Tempo:</strong> {{ receita.tempoPreparo }}</p>
      </div>

      <div class="acoes">
        <button (click)="verDetalhe(receita.id)">Detalhes</button>
        <button (click)="editar(receita.id)">Editar</button>
        <button (click)="deletar(receita.id)">Excluir</button>
      </div>
    </div>
  </div>

  <button class="botao-flutuante" (click)="cadastrar()" title="Cadastrar nova receita">
    <span>+</span>
  </button>
</div>
