<div class="editar">
  <h2>Editar Receita</h2>
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <label for="nome">Nome da Receita</label>
    <input id="nome" type="text" formControlName="nome" placeholder="Digite o nome da receita" />

    <label for="ingredientes">Lista de Ingredientes</label>
    <textarea id="ingredientes" formControlName="ingredientes" placeholder="Digite os ingredientes separados por vírgula"></textarea>

    <label for="modoPreparo">Modo de Preparo</label>
    <textarea id="modoPreparo" formControlName="modoPreparo" placeholder="Descreva o modo de preparo"></textarea>

    <label for="tempoPreparo">Tempo de Preparo</label>
    <input id="tempo" type="text" formControlName="tempoPreparo" placeholder="Ex: 30 minutos" />

    <label for="categoria">Categoria</label>
    <select formControlName="categoria">
      <option value="">Selecione uma categoria</option>
      <option value="doce">Doce</option>
      <option value="salgado">Salgado</option>
      <option value="bebida">Bebida</option>
      <option value="sobremesa">Sobremesa</option>
      <option value="massa">Massa</option>
      <option value="carne">Carne</option>
      <option value="vegano">Vegano</option>
      <option value="fitness">Fitness</option>
      <option value="lanche">Lanche</option>
      <option value="café da manhã">Café da Manhã</option>
    </select>

    <div class="campo-form">
      <label>Imagem:</label>
      <input type="file" (change)="arquivoSelecionar($event)" />
      <img *ngIf="selecionarImagem" [src]="selecionarImagem" width="150" />
    </div>

    <div class="form-actions">
      <button type="submit" class="save">Salvar</button>
      <button type="button" class="cancel" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>



