<div class="cadastro">
  <h2>Cadastrar Receita</h2>
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <label for="nome">Nome da Receita</label>
    <input id="nome" type="text" formControlName="nome" placeholder="Digite o nome da receita" />
    <div class="erro" *ngIf="campoInvalido('nome')">
      Nome da receita é obrigatória
    </div>

    <label for="ingredientes">Lista de Ingredientes</label>
    <textarea id="ingredientes" formControlName="ingredientes" placeholder="Digite os ingredientes separados por vírgula"></textarea>
    <div class="erro" *ngIf="campoInvalido('ingredientes')">
      Os ingredientes são obrigatório
    </div>

    <label for="modoPreparo">Modo de Preparo</label>
    <textarea id="modoPreparo" formControlName="modoPreparo" placeholder="Descreva o modo de preparo"></textarea>
    <div class="erro" *ngIf="campoInvalido('modoPreparo')">
      Modo de preparo é obrigatório
    </div>

    <label for="tempoPreparo">Tempo de Preparo</label>
    <input id="tempo" type="text" formControlName="tempoPreparo" placeholder="Ex: 30 minutos" />
    <div class="erro" *ngIf="campoInvalido('tempoPreparo')">
      Informe o tempo em um formato válido, ex: "30min", "1h", "1 hora e 15 minutos".
    </div>


    <label for="categoria">Categoria</label>
    <select formControlName="categoria">
      <option value="">Selecione uma categoria</option>
      <option value="doce">Doce</option>
      <option value="salgado">Salgado</option>
      <option value="bebida">Bebida</option>
      <option value="sobremesa">Sobremesa</option>
      <option value="massa">Massa</option>
      <option value="carne">Carne</option>
      <option value="vegano">Vegano</option>
      <option value="fitness">Fitness</option>
      <option value="lanche">Lanche</option>
      <option value="café da manhã">Café da Manhã</option>
    </select>
    <div class="erro" *ngIf="campoInvalido('categoria')">
      Categoria obrigatória
    </div>

    <div class="campo-form">
      <label>Imagem:</label>
      <input type="file" (change)="arquivoSelecionado($event)" />
    </div>

    <div class="form-actions">
      <button type="submit" class="save" [disabled]="form.invalid">Salvar</button>
      <button type="button" class="cancel" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>



