<div class="container">
  <h2>Cadastrar <span>Receita</span></h2>

  <form [formGroup]="form" (ngSubmit)="salvar()" class="form-receita">

    <label>Nome da Receita</label>
    <input type="text" formControlName="nome" />
    <div class="erro" *ngIf="campoInvalido('nome')">
      O nome da receita é obrigatória
    </div>

    <label>Ingredientes (separados por vírgula)</label>
    <textarea formControlName="ingredientes"></textarea>
    <div class="erro" *ngIf="campoInvalido('ingredientes')">
      Os ingredientes são obrigatórios
    </div>

    <label>Modo de Preparo</label>
    <textarea formControlName="modoPreparo"></textarea>
    <div class="erro" *ngIf="campoInvalido('modoPreparo')">
      Obrigatório
    </div>

    <label>Tempo de Preparo</label>
    <input type="text" formControlName="tempo" />
    <div class="erro" *ngIf="campoInvalido('tempoPreparo')">
      Obrigatório
    </div>

    <label>Categoria</label>
    <select formControlName="categoria">
      <option value="doce">Doce</option>
      <option value="salgado">Salgado</option>
      <option value="bebida">Bebida</option>
    </select>
    <div class="erro" *ngIf="campoInvalido('categoria')">
      Selecione uma categoria
    </div>

    <label>Imagem da Receita</label>
    <input type="file" (change)="arquivoSelecionado($event)" />

    <img *ngIf="imagemSelecionada" [src]="imagemSelecionada" alt="Prévia da imagem" class="preview-img" />

    <div class="btn">
      <button type="submit" (click)="cadastrar()">Salvar Receita</button>
      <button (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
