<section>
  <h1>Cadastrar Receita</h1>

  <form action="">
    <div class="campo-form">
      <label for="">Nome da Receita</label>
      <input type="text" name="receita" id="">
    </div>
    <div class="campo-form">
      <label for="">Lista de Ingredientes</label>
      <input type="text" name="ingredientes" id="">
    </div>
    <div class="campo-form">
      <label for="">Modo de Preparo</label>
      <textarea name="Modo de preparo" id=""></textarea>
    </div>
    <div class="campo-form">
      <label for="">Tempo de Preparo</label>
      <input type="text" name="" id="">
    </div>
    <div class="campo-form">
      <label for="">Categoria</label>
      <select id="categoria">
        <option value="">Selecione</option>
        <option value="doce">Doce</option>
        <option value="salgado">Salgado</option>
        <option value="bebida">Bebida</option>
      </select>
    </div>
    <div class="campo-form">
      <label for="">URL da imagem</label>
      <input type="image" name="" id="">
    </div>

  </form>
</section>
